body, html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
/*--------------------------------------------------------------
global
--------------------------------------------------------------*/
input, textarea, select, a, button { outline: none; }
input, textarea, select, a, button:focus { outline:none; }
input, textarea, select, a, button:active { outline: none; }
ul, li {list-style-type: none;}


/*--------------------------------------------------------------
navigation
--------------------------------------------------------------*/
nav{
position: fixed;
top: auto;
left: auto;
width: 100%;
min-height: 40px;
z-index: 1000;
}
.events_header{
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color:#D5C5B3;
  background-color: #e5ff80;
}
.ongoing_header{
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color:#e5ff80;
  background-color: #D5C5B3;
}
.menu-btn {
  position: fixed;
  margin: 15px;
  right: 0;
  top:0;
  z-index: 100;
}

.menu{
  height: 100%;
  width: 30vw;
  top: 0;
  right: 0;
  position: fixed;
  transform: translateX(30vw);
  transition: 0.7s;
  z-index: 99;
  background-color: #e5ff80;
}
.menu.active{
  transform: translateX(0);
}
.menu_sticker {
  position: absolute;
  left:0;
  top: -150%;
  width:100%;
  margin-left: 0;
  margin-right: 0;
}
.animated-icon1{
  width: 35px;
  height: 20px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: #e5ff80;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #D5C5B3;
}

.animated-icon1.open span:nth-child(2) {
  right: 0;
  opacity: 0;
  right: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #D5C5B3;
}
.category-nav{
  position: fixed;
  top:90px;
  left: 10px;
  z-index: 1000;
  display: flex;
flex-direction: column;
}
.r_d{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: blueviolet;   /* #D5C5B3; */
  z-index: 2;
}
.blank {
  height: 200vh;
}
li.menu-item>a{
  text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #D5C5B3;
}
li.menu-item{
  margin: 10px 0;
  text-align: center;
}
.menu_wraper{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
#menu-menu-1{
  width: 100%;

}
/*--------------------------------------------------------------
home page
--------------------------------------------------------------*/
.alive_opener{
  background-color: #D5C5B3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.website_title>h1{
  font-size: 11rem;
  text-align: center;
  color: #ffffff;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: 500;
}
/*--------------------------------------------------------------
timeline
--------------------------------------------------------------*/
.timeline{
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.column_event{
  background-color: #e5ff80;
  }
.column_ongoing{
  background-color: #D5C5B3;
 }
 .column_event_background{
  background-color: #e5ff80;
  height: 50px;
  }
.column_ongoing_background{
  background-color: #D5C5B3;
  height: 50px;
 }
/* .timeline_row{
  min-height: 100vh;
  height: 100%;
} */
/*--------------------------------------------------------------
about
--------------------------------------------------------------*/

/*--------------------------------------------------------------
contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
news
--------------------------------------------------------------*/

/*--------------------------------------------------------------
team
--------------------------------------------------------------*/

/*--------------------------------------------------------------
subscribe
--------------------------------------------------------------*/

/*--------------------------------------------------------------
publications
--------------------------------------------------------------*/


/*xs*/
@media only screen and (max-width: 576px) {


}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 768px) {



}
/*md*/
@media screen and (min-width: 768px) and (max-width: 992px){


}

/*lg*/
@media screen and (min-width: 992px)  {


}
