body, html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
/* body {
background-color: #D5C5B3;
} */
/*--------------------------------------------------------------
global
--------------------------------------------------------------*/
input, textarea, select, a, button { outline: none; }
input, textarea, select, a, button:focus { outline:none; }
input, textarea, select, a, button:active { outline: none; }
ul, li {list-style-type: none;}

.tooltip_r_d {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  z-index: 101;
}

/*--------------------------------------------------------------
navigation
--------------------------------------------------------------*/
nav{
  position: fixed;
  top: auto;
  left: auto;
  /* width: 100%; */
  min-height: 40px;
  z-index: 110;
}
.events_header{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color:#ffffff;
  z-index: 10;
  /*background-color: rgb(196, 255, 0);*/
}
.ongoing_header{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color:rgb(196, 255, 0);
  /*color:#e5ff80;
  background-color: #D5C5B3;*/
  z-index: 10;
}
.menu-btn {
  position: fixed;
  margin: 20px 15px;
  right: 0;
  top:0;
  z-index: 100;
}

.menu{
  height: 100%;
  width: 25vw;
  top: 0;
  right: 0;
  position: fixed;
  transform: translateX(30vw);
  transition: 0.7s;
  z-index: 99;
  /*background-color: #e5ff80;*/
  background-color:rgb(196, 255, 0);
}
.menu.active{
  transform: translateX(0);
}
.devide_menu{
  position: fixed;
  top: auto;
  left: auto;
  width: 100%;
  min-height: 40px;
  z-index: 99;
}
.menu_sticker {
  position: absolute;
  left:0;
  top: -150%;
  width:100%;
  margin-left: 0;
  margin-right: 0;
}
.animated-icon1{
  width: 35px;
  height: 20px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: #ffffff;
  /*background-color:rgb(196, 255, 0);*/
  /*background: #e5ff80;*/
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #ffffff;
  /*background: #D5C5B3;*/
}

.animated-icon1.open span:nth-child(2) {
  right: 0;
  opacity: 0;
  right: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #ffffff;
  /*background: #D5C5B3;*/
}
.category-nav{
  position: fixed;
  top:90px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.r_d{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
}

li.menu-item>a{
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #D5C5B3;
}
li.menu-item{
  margin: 10px 0;
  text-align: center;
}
.menu_wraper{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
#menu-menu-1{
  width: 100%;
}
/*--------------------------------------------------------------
home page
--------------------------------------------------------------*/
.home_main {
  background-color: #D5C5B3;
  position: relative;
 }

.alive_opener{
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #D5C5B3; */
  width: 100%;
  height: 200vh;
  z-index: 2;
}
.alive_opener.freezed {
  position: fixed;
  left: 0;
  top: -100%;
}
.website_title {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.website_title>h1{
  font-size: 11rem;
  text-align: center;
  color: #ffffff;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: 500;
}
.column_ongoing>a>h2{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.column_ongoing>a{
  cursor: pointer;
  text-decoration: none;
}
.column_ongoing{
  width:80%;
}

.column_event>a>h2{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.single__event>h2{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.column_event>a{
  cursor: pointer;
  text-decoration: none;
}
.column_event{
  text-align: end;
  width:80%;
}
.divider_ongong{
  height: 1.5px;
  width: 80%;
  background-color: #ffffff;
}
.divider_event{
  height: 1.5px;
  width: 80%;
  text-align: end;
  float: right;
  background-color: #ffffff;
}
.ongoing_img>img{
  width: 80%;
  height: auto;
  margin: 20px 0;
}
.event_img{
  text-align: end;
}
.event_img>img{
  width: 80%;
  height: auto;
  margin: 20px 0;
}
.ongoing_date>p{
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  color:rgb(196, 255, 0);
  /*color: #e5ff80;*/
}
.event_date>p{
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  color: #D5C5B3;
}
.event_date{
  text-align: end;
}

canvas {
  position: absolute;
  /* z-index: -5; */
}

.page_transition{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  margin: 0;
  top:0;
  left: 0;
  pointer-events: none;
  transform: scaleX(0);
  background-color:rgb(196, 255, 0);
  /*background-color: #e5ff80;*/
}
.evet_category{
  position: fixed;
  top: 60px;
  left: -150px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.research_icon, .demonstrator_icon, .exhibition_icon, .vision_icon, .dialogue_icon, .update_icon{
  height: 45px;
  width: 45px;
  margin: 10px 0 4px 0;
  cursor: pointer;
}

.research_icon{
  background-image: url(../img/icons_size-13.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.demonstrator_icon{
  background-image: url(../img/icons_size-11.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.exhibition_icon{
  background-image: url(../img/icons_size-15.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vision_icon{
  background-image: url(../img/icons_size-14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dialogue_icon{
  background-image: url(../img/icons_size-12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.update_icon{
  background-image: url(../img/icons_size-16.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.icon_wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research_icon:hover +.research_category,
.demonstrator_icon:hover +.demonstrator_category,
.vision_icon:hover +.vision_category,
.exhibition_icon:hover +.exhibition_category,
.dialogue_icon:hover +.dialogue_category,
.update_icon:hover +.update_category  {
  opacity: 1;
}

.research_category, .demonstrator_category, .vision_category, .exhibition_category, .dialogue_category, .update_category {
  opacity: 0;
}

.research_category>p, .demonstrator_category>p, .vision_category>p, .exhibition_category>p, .dialogue_category>p, .update_category>p {
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: #485e1e;
}
.research_category{
  opacity: 0;
  transform: translateY(-3rem);
}
.research_icon:hover ~ .research_category{
  opacity: 100;
  transform: translateY(0rem);
  transition: all 3s ease-in-out;
}
/*--------------------------------------------------------------
timeline
--------------------------------------------------------------*/
.timeline{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  left :0;
  top:100vh;
}
.timeline_row{
  padding: 40px 0 0 0;
  min-height: 90vh;
  height: 100%;
  position: relative;
  z-index: 4;
}
.column_event{
  /* background-color:rgb(196, 255, 0); */
  /*background-color: #e5ff80;*/
}
.column_ongoing{
  /* background-color: #D5C5B3; */
}
.column_event_background{
  /* background-color:rgb(196, 255, 0); */
  /*background-color: #e5ff80;*/
  min-height: 50px;
  height: 100%;
}
.column_ongoing_background{
  /* background-color: #D5C5B3; */
  min-height: 50px;
  height: 100%;
}
.timeline_secure_background{
  position: absolute;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  top:0;
  bottom: 0;
  z-index: 1;
}
.secure_event_background{
  background-color:rgb(196, 255, 0);
  /*background-color: #e5ff80;*/
  height: 100%;
 }
.secure_ongoing_background{
  background-color: #D5C5B3;
  height: 100%;

}
.item_hide {
  display: none;
}
.overlay_icon_research{
  background-image: url(../img/icons_size-13.png);
}
.overlay_icon_demonstrators{
  background-image: url(../img/icons_size-11.png);
}
.overlay_icon_exhibitions{
  background-image: url(../img/icons_size-15.png);
}
.overlay_icon_visions{
  background-image: url(../img/icons_size-14.png);
}
.overlay_icon_dialogues{
  background-image: url(../img/icons_size-12.png);
}
.overlay_icon_updates{
  background-image: url(../img/icons_size-16.png);
}

.overlay_icon_research, .overlay_icon_demonstrators, .overlay_icon_exhibitions, .overlay_icon_visions, .overlay_icon_dialogues, .overlay_icon_updates{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 50px;
}

.event_date_heading{
  padding: 10px 0;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
}
.tooltip_r_d{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
}
/*--------------------------------------------------------------
single_project
--------------------------------------------------------------*/
.single_item{
  min-height: 100vh;
  height: 100%;
  padding: 0;
}
.single_item_header{
  padding-top: 15px;
}
.ongoing_color{
  background: rgb(190,253,51);
  background: linear-gradient(90deg, rgba(190,253,51,1) 37%, rgba(211,195,177,1) 100%);
  /*background-color:rgb(196, 255, 0);*/
}

.event_color{
  background: rgb(190,253,51);
  background: linear-gradient(90deg, rgba(190,253,51,1) 0%, rgba(211,195,177,1) 37%);
  /*background-color: #D5C5B3;*/
}
.exhibition-pict{
  background-image: url(../img/exhibition.png);
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.prototype-pict{
  background-image: url(../img/prototype.png);
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.public.event-pict{
  background-image: url(../img/public_event.png);
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.r_d-pict{
  background-image: url(../img/r_d.png);
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.museum-pict{
  background-image: url(../img/virtual_museum.png);
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow-pict>a>img{
  height: 40px;
  width: auto;
}
.arrow-pict>a{
  height: 40px;
  width: auto;
  display: block;
  position: relative;
  z-index: 120;
}
.single_event_type{
  border-bottom: solid #ffffff 2px;
  height: fit-content;
}
.single_event_type>h2{
  text-align: left;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(196, 255, 0);
  text-transform: uppercase;
  margin-bottom: 0;
}
.single_ongoing_type{
  border-bottom: solid #ffffff 2px;
  height: fit-content;
}
.single_ongoing_type>h2{
  text-align: left;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.single_ongoing_img>img{
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.single_event_img>img{
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.fluid_content{
  padding: 60px 0;
  position: relative;
}
.single_short_desc{
  text-align: left;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 1rem;
  color: #485E1E;
}
.single_event_date>p{
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(196, 255, 0);
}
.single_ongoing_date>p{
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  color: #D5C5B3;
}
.single_ongoing>h2{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.single_event>h2{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 2.3rem;
  font-weight: 500;
  color: #ffffff;
}
.wp-bootstrap-blocks-row{
  font-family: 'Bitter', serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: #485E1E;
}
.wp-bootstrap-blocks-row>div>p>a{
  color: #485E1E;
  text-decoration: underline;
}
.wp-bootstrap-blocks-row>div>h2{
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  color: #ffffff;
}

.single_opener {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* z-index: -1; */
}
.wp-block-image>img{
  width: 100%;
  height: auto;
}
.wp-bootstrap-blocks-row{
  padding: 10px 0;
}

.for_animation{
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.for_animation.animated{
  opacity: 1;
  transform: translateY(0);
}
/*--------------------------------------------------------------
about
--------------------------------------------------------------*/
.about_background{
  width:100%;
  min-height:100vh;
  height: 100%;
  background: rgb(190,253,51);
  background: linear-gradient(90deg, rgba(190,253,51,1) 37%, rgba(211,195,177,1) 100%);
}
.about_header{
  padding-right: 0;
}
.about_header>h1{
  font-family: 'Bitter', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  margin: 20px 0 25px 0;
  border-bottom: 1.5px solid #ffffff;
}
.about_left{
  overflow:hidden;
  height:100vh;
  padding: 0;
}
.inner_left{
  overflow:auto;
  height:100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.about_right{
  overflow:hidden;
  height:100vh;
}
.inner_right{
  overflow:auto;
  height:100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.inner_right::-webkit-scrollbar {
  display: none;
}
.inner_left::-webkit-scrollbar {
  display: none;
}
.padding_exception_right{
  padding-right: 0px;
}
.padding_exception_left{
    padding-left: 0px;
}
.about_partners>p{
  font-family: 'Bitter', serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
line-height: 1.4rem;
}
.about_partners>img{
  width: 100%;
  height: auto;
  margin: 7px 0;
}
.about_press{
  margin-top: 20px;
}
.about_press>p{
  font-family: 'Bitter', serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
line-height: 1.4rem;
}
.about_press>p>a{
  color: #ffffff;
  text-decoration: underline;
}
/*--------------------------------------------------------------
contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
team
--------------------------------------------------------------*/
.people-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.background-people-row{
  height: 100vh;
}
.logo_side{
  background-color: #d2c2b0;
}
.people_side{
  background-color: rgb(196, 255, 0);
}
.portret>a>img{
  width: 100%;
  height: auto;
}
.profile{position: relative;
    z-index: 2;
  }
  .organization_row{
    padding: 25px 0;
  }
  .studio_samira_boon{
    background-image: url(http://localhost:8888/alive_textile/wordpress/wp-content/uploads/2020/12/samira-01-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .vrije_universiteit_amsterdam{
    background-image: url(http://localhost:8888/alive_textile/wordpress/wp-content/uploads/2020/12/vu-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .waag_amsterdam{
    background-image: url(http://localhost:8888/alive_textile/wordpress/wp-content/uploads/2020/12/waag-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .interns{
    background-image: url(http://localhost:8888/alive_textile/wordpress/wp-content/uploads/2020/12/intern-02-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .team_dot{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    right: -8px;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    z-index: 2;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .descr>p{
    padding-right: 40px;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 500;
    color: #485E1E;
  }
  .portret>a>p{
    opacity: 0;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 700;
    color: #485E1E;
    text-decoration: none;
    text-align: center;
  }
  .portret>a{
    text-decoration: none;
  }
  .portret>a>img:hover +p{
    opacity: 1;
    text-decoration: none;
  }
/*--------------------------------------------------------------
subscribe
--------------------------------------------------------------*/
.subscribe_page{
  background: rgb(211,195,177);
  background: linear-gradient(90deg, rgba(211,195,177,1) 15%, rgba(190,253,51,1) 35%, rgba(190,253,51,1) 50%, rgba(190,253,51,1) 65%, rgba(211,195,177,1) 85%);
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
#mc_embed_signup{
  width: 100%;
}
.subscribe_form_bg{
  height: 100%;
  display: flex;
  justify-content: center;
}
.subscribe_row{
  min-height: 85vh;
  align-items: center;
}
.mc-field-group>label{
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #485E1E;
}
input#mce-EMAIL, input#mce-FNAME, input#mce-LNAME{
  border-radius: 0 !important;
  background-color:#D5C5B3;
}

#mc_embed_signup input{
  border: none !important;
  border-color: none !important;
  color: #ffffff;
  font-family: 'Bitter', serif;
  font-size: 1rem;
  font-weight: 500;
}
div.mce_inline_error{
  background: none !important;
  font-family: 'Bitter', serif;
  font-size: 1rem;
  font-weight: 500;
  color: #485E1E !important;
}
#mc_embed_signup .button {
  background-color: #485E1E !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  font-family: 'Bitter', serif !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  margin-top: 30px !important;
}
div.mc-field-group{
  margin: 12px 0 !important;
}
/*--------------------------------------------------------------
publications
--------------------------------------------------------------*/


/*xs*/
@media only screen and (max-width: 576px) {
  .menu{
    width: 100vw;
    transform: translateX(100vw);
  }
  .website_title>h1{
    font-size: 4rem;
  }
  .padding_exception_right{
    padding-right: 0px;
    padding-left: 0px;
  }
  .padding_exception_left{
    padding-right: 0px;
      padding-left: 0px;
  }
  .about_header>h1{
    font-size: 2.4rem;
  }
  .inner_left{
    margin-top: 30px;
  }
  .about_left{
    overflow:scroll;
    height: 100%;
  }
  .about_right{
    overflow:scroll;
    height: 100%;
  }
  .wp-bootstrap-blocks-row>div>h2{
    font-size: 1.4rem;
  }
}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .menu{
    width: 75vw;
    transform: translateX(75vw);
  }
  .website_title>h1{
    font-size: 5rem;
  }
  .padding_exception_right{
    padding-right: 0px;
    padding-left: 0px;
  }
  .padding_exception_left{
      padding-left: 0px;
  }
  .about_header>h1{
    font-size: 3rem;
  }
  .wp-bootstrap-blocks-row>div>h2{
    font-size: 2rem;
  }
  .about_left{
    overflow:scroll;
    height: 100%;
  }
  .about_right{
    overflow:scroll;
    height: 100%;
  }
}
/*md*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .menu{
    width: 50vw;
    transform: translateX(50vw);
  }
  .website_title>h1{
    font-size: 8rem;
  }
  .padding_exception_right{
    padding-right: 0px;
  }
  .padding_exception_left{
      padding-left: 0px;
  }
  .about_header>h1{
    font-size: 3rem;
  }
  .wp-bootstrap-blocks-row>div>h2{
    font-size: 2rem;
  }
  .about_left{
    overflow:hidden;
    height: 100vh;
  }
  .about_right{
    overflow:hidden;
    height:100vh;
  }
}

/*lg*/
@media screen and (min-width: 992px)  {
  .menu{
    width: 25vw;
    transform: translateX(25vw);
  }
  .website_title>h1{
    font-size: 11rem;
  }
  .padding_exception_right{
    padding-right: 0px;
  }
  .padding_exception_left{
      padding-left: 0px;
  }
  .about_header>h1{
    font-size: 3rem;
  }
  .wp-bootstrap-blocks-row>div>h2{
    font-size: 2rem;
  }
  .about_left{
    overflow:hidden;
    height: 100vh;
  }
  .about_right{
    overflow:hidden;
    height:100vh;
  }
}
